.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  max-width: 70vw;
  min-height: 80vh;

  text-align: end;
}

.quote {
  text-shadow: 7px 4px 20px #000;
}

.author {
  align-self: flex-end;
  margin-right: 5vw;

  font-size: 13px;
  font-style: italic;
}

.btn {
  width: fit-content;
  background-color: whitesmoke;

  border-style: none;
  border-radius: 4px;

  margin: 20px;
  padding: 5px;

  cursor: pointer;

  box-shadow: 7px 4px 20px rgba(0, 0, 0, 0.472);
}

.btn:hover {
  background-color: rgba(224, 201, 166);
}

.wrapper {
  margin-bottom: 20px;
}
